@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container .course {
    & > section.all-course {
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #018BF6, #34DCFC);
        transform: skewY(-5deg);
        position: relative;
        overflow: hidden;
        top: -225px;
        @include respond-to((max-width: $max-pc-35-breakpoint)){
            transform: skewY(-15deg);
            top: -258px;
        }
        @include respond-to((max-width: $max-mobile-75-breakpoint)){
            padding-bottom: 11%;
        }
        @include respond-to((max-width: $max-mobile-60-breakpoint)){
            padding-bottom: 30%;
        }
        & > .logo {
            @include page-container;
            margin-top: 60px;
            transform: skewY(5deg);
            position: relative;
            top: 255px;
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                transform: skewY(15deg);
                top: 258px;
                padding-left: 84px;
            }
            @include respond-to((max-width: $max-pc-25-breakpoint)){
                margin-top: 50px;
            }
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                margin-top: 44px;
            }
            & > img {
                width: 223px;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    width: 185px;
                }
                @include respond-to((max-width: $max-tablet-70-breakpoint)){
                    width: 87px;
                }
            }
        }
        & > .content {
            @include page-container;
            position: relative;
            top: 255px;
            margin-top: 280px;
            padding-bottom: 874px;
            transform: skewY(5deg);
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                transform: skewY(15deg);
                top: 258px;
                padding-bottom: 553px;
            }
            @include respond-to((max-width: $max-tablet-100-breakpoint)){
                margin-top: 128px;
                padding-bottom: 800px;
            }
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                padding-bottom: 720px;
            }
            @include respond-to((max-width: $max-tablet-60-breakpoint)){
                padding-bottom: 90%;
            }
            @include respond-to((max-width: $max-mobile-100-breakpoint)){
                margin-top: 84px;
                padding-bottom: 100%;
            }
            & > .text {
                font-family: supermarket;
                color: white;
                width: fit-content;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    margin-left: 128px;
                }
                @include respond-to((max-width: $max-pc-30-breakpoint)){
                    margin-left: 96px;
                }
                @include respond-to((max-width: $max-pc-25-breakpoint)){
                    margin-left: 68px;
                }
                @include respond-to((max-width: $max-tablet-100-breakpoint)){
                    margin: auto;
                    text-align: center;
                }
                & > .title {
                    font-size: 6rem;
                    margin-bottom: 30px;
                    @include respond-to((max-width: $max-pc-30-breakpoint)){
                        font-size: 4.5rem;
                    }
                    @include respond-to((max-width: $max-tablet-60-breakpoint)){
                        font-size: 3rem;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 34px;
                    }
                }
                & > .description {
                    font-size: 1.7rem;
                    margin-bottom: 99px;
                    @include respond-to((max-width: $max-pc-30-breakpoint)){
                        font-size: 1.25rem;
                    }
                    @include respond-to((max-width: $max-tablet-60-breakpoint)){
                        font-size: 1.5rem;
                        display: grid;
                        row-gap: 8px;
                        margin-bottom: 50px;
                    }
                    @include respond-to((max-width: $max-tablet-50-breakpoint)){
                        font-size: 1.125rem;
                        margin-bottom: 30px;
                    }
                }
                & > .btn {
                    font-size: 1.8rem;
                    @include button($height-size: "large");
                    color: #018BF6;
                    padding-top: 3px;
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        @include button($height-size: "medium");
                        font-size: 1.125rem;
                        margin: auto;
                        padding-top: 3px;
                    }
                    @include respond-to((max-width: $max-mobile-80-breakpoint)){
                        padding: 0 18px;
                        padding-top: 3px;
                    }
                }
                & > .arrow_down {
                    display: none;
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        display: block;
                        width: 36px;
                        margin: auto;
                        margin-top: 24px;
                    }
                }
            }
            & > .teamwork-5deg {
                position: absolute;
                bottom: 0;
                width: 100%;
                left: 0;
                max-width: 1428px;
                margin-left: calc(30%);
                margin-bottom: 196px;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    display: none;
                }
                & > img {
                    width: 100%;
                }
            }
            & > .teamwork-15deg {
                display: none;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    display: block;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    left: 0;
                    right: -128px;
                    margin: auto;
                    margin-right: 0;
                    margin-bottom: 218px;
                    max-width: calc(140vw/2);
                    padding-left: calc(3%);
                }        
                @include respond-to((max-width: $max-tablet-100-breakpoint)){
                    margin-left: auto;
                    margin-right: auto;
                    right: 0;
                    padding: 0;
                    margin-bottom: 165px;
                    max-width: 857px;
                    left: 42px;
                    width: 857px;
                }
                @include respond-to((max-width: $max-tablet-70-breakpoint)){
                    width: calc(100% - 42px);
                    // margin-bottom: -1rem;
                }
                // @include respond-to((max-width: $max-tablet-65-breakpoint)){
                //     margin-bottom: 1rem;
                // }
                // @include respond-to((max-width: $max-tablet-60-breakpoint)){
                //     margin-bottom: 2rem;
                // }
                // @include respond-to((max-width: $max-tablet-50-breakpoint)){
                //     margin-bottom: 5rem;
                // }
                @include respond-to((max-width: $max-mobile-100-breakpoint)){
                    width: calc(100% - 80px);
                    margin: auto;
                    margin-bottom: 200px;
                    left: 3%;
                }
                @include respond-to((max-width: $max-mobile-100-breakpoint)){
                    margin-bottom: 212px;
                }
                @include respond-to((max-width: $max-mobile-75-breakpoint)){
                    margin-bottom: 175px;
                }
                @include respond-to((max-width: $max-mobile-60-breakpoint)){
                    margin-bottom: 131px;
                }

                & > img {
                    width: 100%;
                }
            }
        }
    }
}
