@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container .course {
    & > section.more-course {
        width: 100%;
        position: relative;
        top: 0;
        z-index: 2;
        background: linear-gradient(90deg, #018BF6, #34DCFC);
        transform: skewY(-5deg);
        margin-top: 218px;
        @include respond-to((max-width: $max-pc-35-breakpoint)){
            transform: skewY(-15deg);
            margin-top: 128px;
        }
        & > .content {
            display: flex;
            flex-direction: column;
            width: 100vw;
            height: 383px;
            @include page-container;
            justify-content: center;
            transform: skewY(5deg);
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                transform: skewY(15deg);
                padding-top: 96px;
            }
            @include respond-to((max-width: $max-tablet-100-breakpoint)){
                height: 268px;
                padding-top: 75px;
            }
            @include respond-to((max-width: $max-tablet-50-breakpoint)){
                padding-top: 0;
            }
            @include respond-to((max-width: $max-mobile-100-breakpoint)){
                height: 150px;
            }
            & > div:first-child {
                & > .title {
                    text-align: center;
                    color: white;
                    font-size: 3rem;
                    font-family: supermarket;
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        font-size: 2rem;
                    }
                    @include respond-to((max-width: $max-tablet-50-breakpoint)){
                        display: grid;
                        row-gap: 12px;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 1.125rem;
                    }
                }
                & > .btn {
                    @include button($height-size: "large");
                    color: $main-color-dark;
                    margin: auto;
                    margin-top: 35px;
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        @include button($height-size: "medium");
                        padding: 3px 48px 0 48px;
                        font-size: 1.125rem;
                        font-weight: 400;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        margin-top: 16px;
                        height: 40px;
                        padding: 3px 28px 0 28px;
                    }
                }
            }
        }
    }
}