@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container {
    & > section.our-partner {
        @include page-container;
        position: absolute;
        z-index: 20;
        left: 0;
        right: 0;
        transform: translateY(1312%);
        padding-top: 280px;
        background: chocolate;
        & > .title {
            font-size: 48px;
            text-align: center;
            font-family: kanit;
            color: #5A5A5A;
        }
        & > .content {
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            margin-top: 48px;
            & > .logo {
                flex: 1;
                display: flex;
                justify-content: center;
            }
            & > .logo.odds {
                & > img {
                    max-width: 534px;
                    width: 100%;
                }
            }
            & > .logo.artisan {
                & > img {
                    max-width: 610px;
                    width: 100%;
                }
            }
            & > .logo.camt {
                & > img {
                    max-width: 434px;
                    width: 100%;
                }
            }
        }
        @include respond-to((max-width: $max-pc-80-breakpoint)){
            transform: translateY(1265%);
        }
        @include respond-to((max-width: $max-pc-60-breakpoint)){
            transform: translateY(1248%);
        }
        @include respond-to((max-width: $max-pc-50-breakpoint)){
            transform: translateY(1232%);
        }
        @include respond-to((max-width: $max-pc-45-breakpoint)){
            transform: translateY(1214%);
        }
        @include respond-to((max-width: $max-pc-35-breakpoint)){
            transform: translateY(972%);
        }
    }
}
