@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container {
    & > section.our-partner {
        @include page-container;
        position: relative;
        z-index: 20;
        left: 0;
        right: 0;
        margin-top: 280px;
        @include respond-to((max-width: $max-pc-35-breakpoint)){
            margin-top: 180px;
            margin-bottom: 180px;
        }
        @include respond-to((max-width: $max-pc-25-breakpoint)){
            margin-top: 143px;
            margin-bottom: 143px;
        }
        @include respond-to((max-width: $max-mobile-100-breakpoint)){
            margin-top: 28px;
            margin-bottom: 28px;
        }
        & > .title {
            font-size: 48px;
            text-align: center;
            font-family: kanit;
            color: #5A5A5A;
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                font-size: 36px;
            }
            @include respond-to((max-width: $max-pc-25-breakpoint)){
                font-size: 24px;
            }
            @include respond-to((max-width: $max-mobile-100-breakpoint)){
                font-size: 18px;
            }
        }
        & > .content {
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            margin-top: 48px;
            @include respond-to((max-width: $max-tablet-50-breakpoint)){
                grid-template-columns: auto;
                margin-top: 36px;
            }
            & > .logo {
                flex: 1;
                display: flex;
                justify-content: center;
                @include respond-to((max-width: $max-tablet-50-breakpoint)){
                   max-width: 100px;
                   margin-left: auto;
                   margin-right: auto;
                }
            }
            & > .logo.odds {
                & > img {
                    max-width: 534px;
                    width: 100%;
                }
            }
            & > .logo.artisan {
                & > img {
                    max-width: 610px;
                    width: 100%;
                }
            }
            & > .logo.camt {
                & > img {
                    max-width: 434px;
                    width: 100%;
                }
            }
        }
    }
}
