@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container {
    & > section.preference {
        @include page-container;
        position: absolute;
        z-index: 4;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(385%);
        height: 100%;
        padding-top: 185px;
        padding-bottom: 185px;
        @include respond-to((max-width: $max-pc-80-breakpoint)){
            transform: translateY(415%);
        }
        @include respond-to((max-width: $max-pc-60-breakpoint)){
            transform: translateY(408%);
        }
        @include respond-to((max-width: $max-pc-50-breakpoint)){
            transform: translateY(450%);
        }
        @include respond-to((max-width: $max-pc-45-breakpoint)){
            transform: translateY(445%);
        }
        @include respond-to((max-width: $max-pc-35-breakpoint)){
            padding-left: 275px;
            padding-right: 275px;
            transform: translateY(390%);
        }
        @include respond-to((max-width: $max-pc-30-breakpoint)){
            transform: translateY(390%);
        }
        @include respond-to((max-width: $max-pc-25-breakpoint)){
            padding-left: 100px;
            padding-right: 100px;
            transform: translateY(460%);
        }
        @include respond-to((max-width: $max-pc-20-breakpoint)){
            transform: translateY(434%);
        }
        @include respond-to((max-width: $max-tablet-100-breakpoint)){
            transform: translateY(335%);
        }
        @include respond-to((max-width: $max-tablet-85-breakpoint)){
            transform: translateY(344%);
        }
        @include respond-to((max-width: $max-tablet-80-breakpoint)){
            transform: translateY(318%);
        }
        @include respond-to((max-width: $max-tablet-70-breakpoint)){
            padding: 50px 48px 100px 48px;
            transform: translateY(338%);
        }
        @include respond-to((max-width: $max-tablet-65-breakpoint)){
            transform: translateY(344%);
        }
        @include respond-to((max-width: $max-tablet-60-breakpoint)){
            transform: translateY(350%);
        }
        @include respond-to((max-width: $max-tablet-50-breakpoint)){
            transform: translateY(405%);
        }
        @include respond-to((max-width: $max-mobile-100-breakpoint)){
            padding: 50px 18px 100px 18px;
            transform: translateY(370%);
        }
        @include respond-to((max-width: $max-mobile-80-breakpoint)){
            transform: translateY(378%);
        }
        @include respond-to((max-width: $max-mobile-75-breakpoint)){
            transform: translateY(398%);
        }
        @include respond-to((max-width: $max-mobile-65-breakpoint)){
            transform: translateY(391%);
        }
        & > .title {
            display: flex;
            font-family: supermarket;
            justify-content: space-between;
            align-items: baseline;
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                justify-content: center;
                margin-bottom: 18px;
            }
            & > div:first-child {
               
                & > span:first-child {
                    font-size: 4rem;
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 3rem;
                    }
                    @include respond-to((max-width: $max-tablet-70-breakpoint)){
                        font-size: 1.5rem;
                    }
                }
                & > span:last-child {
                    font-size: 6rem;
                    color: $main-color-dark;
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 4.5rem;
                    }
                    @include respond-to((max-width: $max-tablet-70-breakpoint)){
                        font-size: 2.25rem;
                    }
                }
            }
            & > div:last-child {
                color: #686868;
                font-size: 2.25rem;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    font-size: 1.5rem;
                }
                @include respond-to((max-width: $max-tablet-70-breakpoint)){
                    display: none;
                }
            }
        }
        & > .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 24px;
            height: 100%;
            max-height: 1056px;
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                max-height: 692px;
                height: calc(50vw);
            }
            @include respond-to((max-width: $max-pc-25-breakpoint)){
                max-height: 581px;
            } 
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 24px;
                height: auto;
                max-height: unset;
            }
            & > .right {
                display: grid;
                grid-template-rows: 1fr 1fr;
                row-gap: 24px;
                & > .bottom {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 24px;
                    @include respond-to((max-width: $max-tablet-70-breakpoint)){
                        display: grid;
                        grid-template-columns: 1fr;
                        row-gap: 24px;
                    }
                    & > .right {
                        @include respond-to((max-width: $max-tablet-70-breakpoint)){
                            display: none;
                        }
                    }
                }
            }
            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
                height: auto;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                align-items: flex-end;
                display: flex;
                @include respond-to((max-width: $max-tablet-70-breakpoint)){
                    height: 332px;
                    max-width: 332px;
                    margin-left: auto;
                    margin-right: auto;
                }
                @include respond-to((max-width: $max-mobile-100-breakpoint)){
                    height: 264px;
                    width: 264px;
                }
            }
            .description {
                padding: 40px;
                flex-direction: column;
                justify-content: flex-end;
                color: $light;
                background-image: linear-gradient(transparent 50%, black );
                width: 100%;
                display: flex;
                border-radius: 10px;
                height: 100%;
                font-family: supermarket;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    padding: 24px;
                }
                & > span:first-child {
                    font-size: 4rem;
                    margin-bottom: 24px;
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 2.25rem;
                        margin-bottom: 8px;
                    }
                }
                & > span:last-child {
                    font-size: 2.25rem;
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 1.125rem;
                    }
                }
            }
        }
        & > .btn {
            display: none;
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                @include button($height-size: "large");
                display: block;
                color: $main-color-dark;
                margin: auto;
                margin-top: 35px;
                border: 1px solid $main-color-dark;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 120px;
                font-family: supermarket;
                font-size: 1.125rem;
                height: 40px;
                padding: 0 24px;
            }
        }
       
    }
}
