@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container {
    & > section.quotes {
        background: linear-gradient(0deg, rgba(254, 197, 73, 0.4), white 90%);
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        margin-top: 500px;
        @include respond-to((max-width: $max-pc-35-breakpoint)){
            margin-top: 243px;
        }
        @include respond-to((max-width: $max-pc-25-breakpoint)){
            margin-top: 160px;
        }
        @include respond-to((max-width: $max-tablet-100-breakpoint)){
            margin-top: 115px;
        }
        & > .content {
            @include page-container;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            & > .title {
                font-family: supermarket;
                @include respond-to((max-width: $max-tablet-100-breakpoint)){
                    text-align: center;
                }
                & > div:first-child {
                    font-size: 3rem;
                    @include respond-to((max-width: $max-pc-25-breakpoint)){
                        font-size: 2.5rem;
                    }
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        font-size: 2rem;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 1.5rem;
                    }
                    & > span:first-child {
                        color: #018BF6;
                        font-size: 6rem;
                        @include respond-to((max-width: $max-pc-25-breakpoint)){
                            font-size: 5rem;
                        }
                        @include respond-to((max-width: $max-tablet-100-breakpoint)){
                            display: none;
                        }
                    }
                }
                & > div:last-child {
                    font-size: 4rem;
                    padding-top: 24px;
                    color: #018BF6;
                    padding-left: 2rem;
                    @include respond-to((max-width: $max-pc-25-breakpoint)){
                        font-size: 3.5rem;
                    }
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        display: grid;
                        padding-left: 0;
                        row-gap: 1rem;
                        font-size: 2.5rem;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 1.5rem;
                    }
                    & > span:last-child {
                        display: flex;
                        flex-direction: row-reverse;
                        padding-left: calc(103%);
                        margin-top: calc(-1%);
                        font-size: 6rem;
                        @include respond-to((max-width: $max-pc-25-breakpoint)){
                            font-size: 5rem;
                        }
                        @include respond-to((max-width: $max-tablet-100-breakpoint)){
                            display: none;
                        }
                    }
                }
            }
            & > figure {
                margin-bottom: -310px;
                margin-top: 120px;
                z-index: -3;
                max-width: 903px;
                min-width: 400px;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    margin-bottom: -258px;
                }
                @include respond-to((max-width: $max-pc-25-breakpoint)){
                    margin-bottom: -220px;
                }
                @include respond-to((max-width: $max-tablet-100-breakpoint)){
                    margin-bottom: -200px;
                }
                @include respond-to((max-width: $max-tablet-80-breakpoint)){
                    margin-bottom: -168px;
                }
                @include respond-to((max-width: $max-tablet-65-breakpoint)){
                    margin-bottom: -142px;
                }
                @include respond-to((max-width: $max-mobile-100-breakpoint)){
                    margin-bottom: -130px;
                }
                & > img {
                    width: 100%;
                }
            }
        }
        & > .cloud {
            background-image: url(../../assets/images/cloud.png);
            height: 737px;
            background-position: top;
            background-size: cover;
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                height: 600px;
            }
            @include respond-to((max-width: $max-pc-25-breakpoint)){
                height: 500px;
            }
            @include respond-to((max-width: $max-tablet-100-breakpoint)){
                height: 400px;
            }
            @include respond-to((max-width: $max-tablet-80-breakpoint)){
                height: 300px;
            }
        }
    }
}