@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container {
    & > section.recommended-course {
        width: 100%;
        position: relative;
        & > .background {
            transform: skewY(-5deg);
            background: white;
            height: 200px;
            width: 300vw;
            position: absolute;
            bottom: 0;
            z-index: 1;
            margin-bottom: calc(9.5%);
            @include respond-to((max-width: $max-pc-75-breakpoint)){
                margin-bottom: calc(7.5%);
            }
            @include respond-to((max-width: $max-pc-50-breakpoint)){
                margin-bottom: calc(5.5%);
            }
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                transform: skewY(-15deg);
                height: 400px;
                margin-bottom: calc(19.5%);
            }
            @include respond-to((max-width: $max-pc-30-breakpoint)){
                margin-bottom: calc(15.5%);
            }
            @include respond-to((max-width: $max-pc-25-breakpoint)){
                margin-bottom: calc(12.5%);
            }
            @include respond-to((max-width: $max-pc-20-breakpoint)){
                margin-bottom: calc(11.5%);
            }
            @include respond-to((max-width: $max-tablet-100-breakpoint)){
                margin-bottom: calc(9%);
            }
            @include respond-to((max-width: $max-tablet-95-breakpoint)){
                margin-bottom: calc(7%);
            }
            @include respond-to((max-width: $max-tablet-85-breakpoint)){
                margin-bottom: calc(3.5%);
            }
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                margin-bottom: calc(-3.5%);
            }
            @include respond-to((max-width: $max-tablet-65-breakpoint)){
                margin-bottom: calc(-9.5%);
            }
            @include respond-to((max-width: $max-tablet-60-breakpoint)){
                margin-bottom: calc(-11.5%);
            }
            @include respond-to((max-width: $max-tablet-50-breakpoint)){
                margin-bottom: calc(-26%);
            }
            @include respond-to((max-width: $max-mobile-100-breakpoint)){
                margin-bottom: calc(13%);
                height: 150px;
            }
            @include respond-to((max-width: $max-mobile-80-breakpoint)){
                margin-bottom: calc(9%);
            }
            @include respond-to((max-width: $max-mobile-75-breakpoint)){
                margin-bottom: calc(3%);
            }
            @include respond-to((max-width: $max-mobile-70-breakpoint)){
                margin-bottom: calc(2%);
            }
            @include respond-to((max-width: $max-mobile-65-breakpoint)){
                margin-bottom: calc(0%);
            }
            @include respond-to((max-width: $max-mobile-60-breakpoint)){
                height: 100px;
                margin-bottom: calc(9%);
            }
        }
        & > .content {
            position: absolute;
            z-index: 2;
            display: flex;
            @include page-container;
            left: 0;
            right: 0;
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                top: 0;
                transform: translateY(-20%);
            }
            @include respond-to((max-width: $max-tablet-100-breakpoint)){
                flex-direction: column;
                transform: translateY(0%);
            }
            @include respond-to((max-width: $max-tablet-80-breakpoint)){
                transform: translateY(-3%);
            }
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                transform: translateY(0%);
            }
            & > figure {
                flex: 1;
                display: flex;
                justify-content: flex-start;
                align-items: flex-end;
                margin-right: 200px;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    margin-left: 128px;
                    max-width: 593px;
                    padding-top: 10%;
                }
                @include respond-to((max-width: $max-pc-30-breakpoint)){
                    margin-left: 96px;
                    margin-right: 100px;
                }
                @include respond-to((max-width: $max-tablet-100-breakpoint)){
                    margin: auto;
                    padding-left: 100px;
                    padding-right: 100px;
                    padding-top: 0;
                }
                @include respond-to((max-width: $max-tablet-70-breakpoint)){
                    padding-left: 96px;
                    padding-right: 96px;
                }
                @include respond-to((max-width: $max-mobile-100-breakpoint)){
                    padding-left: 64px;
                    padding-right: 64px;
                }
                & > img {
                    width: 100%;
                }
            }
            & > .course {
                flex: 1;
                box-shadow: 0 -24px 24px 0px rgba(8, 126, 199, 0.3);;
                clip-path: inset(1px -30px 1px -30px);
                padding: 0 106px;
                font-family: supermarket;
                @include respond-to((max-width: $max-pc-35-breakpoint)){
                    margin-right: 98px;
                    height: fit-content;
                }
                @include respond-to((max-width: $max-tablet-100-breakpoint)){
                    margin: auto;
                    margin-top: 10px;
                    box-shadow: none;
                    padding: 40px 30px 0 30px;
                }
                & > .title {
                    display: flex;
                    justify-content: center;
                    & > div:first-child {
                        color: #FEC449;
                        font-size: 15.6rem;
                        @include respond-to((max-width: $max-pc-35-breakpoint)){
                            font-size: 12.5rem;
                        }
                        @include respond-to((max-width: $max-pc-30-breakpoint)){
                            font-size: 9rem;   
                        }
                        @include respond-to((max-width: $max-mobile-100-breakpoint)){
                            font-size: 6rem;
                        }
                    }
                    & > div:last-child {
                        color: #686868;
                        font-size: 4.5rem;
                        display: grid;
                        line-height: 100%;
                        padding-bottom: 30px;
                        padding-top: 12px;
                        @include respond-to((max-width: $max-pc-35-breakpoint)){
                            font-size: 4rem;
                        }
                        @include respond-to((max-width: $max-pc-30-breakpoint)){
                            font-size: 3rem;
                        }
                        @include respond-to((max-width: $max-mobile-100-breakpoint)){
                            font-size: 1.5rem;
                        }
                    }
                }
                & > .sub-title {
                    text-align: center;
                    font-size: 4rem;
                    color: #018BF6;
                    margin-top: 24px;
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 3rem;
                        margin-top: 20px;
                    }
                    @include respond-to((max-width: $max-pc-30-breakpoint)){
                        font-size: 2.25rem;
                        margin-top: 0;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 1.5rem;
                    }
                }
                & > .description {
                    display: grid;
                    text-align: center;
                    font-size: 2.25rem;
                    margin-top: 64px;
                    line-height: 125%;
                    color: rgba(104, 104, 104, 0.7);
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 1.6rem;
                        margin-top: 42px;
                    }
                    @include respond-to((max-width: $max-pc-30-breakpoint)){
                        font-size: 1.5rem;
                        margin-top: 32px;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 1rem;
                    }
                }
                & > .btn {
                    font-size: 2.25rem;
                    @include button($height-size: "large");
                    background-color: #018BF6;
                    color: white;
                    margin: auto;
                    margin-top: 118px;
                    padding-top: 3px;
                    @include respond-to((max-width: $max-pc-35-breakpoint)){
                        font-size: 1.8rem;
                        margin-top: 84px;
                    }
                    @include respond-to((max-width: $max-pc-30-breakpoint)){
                        font-size: 1.5rem;
                        margin-top: 54px;
                    }
                    @include respond-to((max-width: $max-tablet-100-breakpoint)){
                        @include button($height-size: "medium");
                        padding: 3px 48px 0 48px;
                        background-color: #018BF6;
                        font-size: 1.125rem;
                        font-weight: 400;
                    }
                    @include respond-to((max-width: $max-mobile-100-breakpoint)){
                        font-size: 1rem;
                        padding: 3px 18px 0 18px;
                    }
                }
            }
        }
    }
}
