@import '../font.scss';
@import '../mixnis.scss';
@import '../color.scss';
@import '../variable.scss';

.container {
    & > section.recommended-course {
        width: 100%;
        & > .background {
            transform: skewY(-5deg);
            background: white;
            height: 200px;
            width: 300vw;
            position: absolute;
            bottom: 0;
            z-index: 1;
            margin-bottom: calc(9.5%);
            @include respond-to((max-width: $max-pc-75-breakpoint)){
                margin-bottom: calc(7.5%);
            }
            @include respond-to((max-width: $max-pc-50-breakpoint)){
                margin-bottom: calc(5.5%);
            }
            @include respond-to((max-width: $max-pc-35-breakpoint)){
                transform: skewY(-15deg);
                height: 400px;
                margin-bottom: calc(19.5%);
            }
            @include respond-to((max-width: $max-pc-30-breakpoint)){
                margin-bottom: calc(15.5%);
            }
            @include respond-to((max-width: $max-pc-25-breakpoint)){
                margin-bottom: calc(12.5%);
            }
            @include respond-to((max-width: $max-pc-20-breakpoint)){
                margin-bottom: calc(11.5%);
            }
            @include respond-to((max-width: $max-tablet-100-breakpoint)){
                margin-bottom: calc(8.5%);
            }
            @include respond-to((max-width: $max-tablet-95-breakpoint)){
                margin-bottom: calc(7%);
            }
            @include respond-to((max-width: $max-tablet-85-breakpoint)){
                margin-bottom: calc(3.5%);
            }
            @include respond-to((max-width: $max-tablet-70-breakpoint)){
                margin-bottom: calc(-3.5%);
            }
            @include respond-to((max-width: $max-tablet-65-breakpoint)){
                margin-bottom: calc(-9.5%);
            }
            @include respond-to((max-width: $max-tablet-60-breakpoint)){
                margin-bottom: calc(-11.5%);
            }
            @include respond-to((max-width: $max-tablet-50-breakpoint)){
                margin-bottom: calc(-26%);
            }
            @include respond-to((max-width: $max-mobile-100-breakpoint)){
                margin-bottom: calc(13%);
                height: 150px;
            }
            @include respond-to((max-width: $max-mobile-80-breakpoint)){
                margin-bottom: calc(9%);
            }
            @include respond-to((max-width: $max-mobile-75-breakpoint)){
                margin-bottom: calc(3%);
            }
            @include respond-to((max-width: $max-mobile-70-breakpoint)){
                margin-bottom: calc(2%);
            }
            @include respond-to((max-width: $max-mobile-65-breakpoint)){
                margin-bottom: calc(0%);
            }
            @include respond-to((max-width: $max-mobile-60-breakpoint)){
                height: 100px;
                margin-bottom: calc(9%);
            }
        }
    }
}