
$main-color-dark: #0072BB;
$main-color-light: #48B6CC;

$dark-main: #686868;
$dark-main-100: #888888;
$dark-main-70: rgba($color: $dark-main, $alpha: 0.7);

$dark: #5A5A5A;
$light: white;
$yellow: #FEC449;
$blue-dark: #0E80C8;
$blue-light: #70DCCF;
$light-gray: #D0D0D0;
$green: #77FF82;
